<!-- <tr>
			  <td>House of Dedgeny EUR Flex</td>
			  <th class="mobile-header">Number</th><td>5478</td>
			  <th class="mobile-header">Market rate</th><td>€42.68	</td>
			  <th class="mobile-header">Weight</th><td>2%</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>PlayCo Group Local</td>
			  <th class="mobile-header">Number</th><td>123</td>
			  <th class="mobile-header">Market rate</th><td>€147.36</td>
			  <th class="mobile-header">Weight</th><td>3%</td>
			  <th class="mobile-header">Value</th><td>€543.76</td>
			  <th class="mobile-header">Value</th><td>€543.76</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>PlayCo Group Low</td>
			  <th class="mobile-header">Number</th><td>5477</td>
			  <th class="mobile-header">Market rate</th><td>€147.00</td>
			  <th class="mobile-header">Weight</th><td>10%</td>
			  <th class="mobile-header">Value</th><td>€80,511.90</td>
			  <th class="mobile-header">Value</th><td>€80,511.90</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			 <tr>
			  <td>House of Dedgeny High</td>
			  <th class="mobile-header">Number</th><td>5899</td>
			  <th class="mobile-header">Market rate</th><td>€ 288.00</td>
			  <th class="mobile-header">Weight</th><td>4%</td>
			  <th class="mobile-header">Value</th><td>€67,956.48</td>
			  <th class="mobile-header">Value</th><td>€67,956.48</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>House of Dedgeny USD Med</td>
			  <th class="mobile-header">Number</th><td>11477</td>
			  <th class="mobile-header">Market rate</th><td>€18.00</td>
			  <th class="mobile-header">Weight</th><td>5%</td>
			  <th class="mobile-header">Value</th><td>€10,329.30</td>
			  <th class="mobile-header">Value</th><td>€10,329.30</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			 <tr>
			  <td>Sterck Inc. Med</td>
			  <th class="mobile-header">Number</th><td>1476</td>
			  <th class="mobile-header">Market rate</th><td>€187.00</td>
			  <th class="mobile-header">Weight</th><td>10%</td>
			  <th class="mobile-header">Value</th><td>€27,601.20</td>
			  <th class="mobile-header">Value</th><td>€27,601.20</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>PlayCo Group Universal High</td>
			  <th class="mobile-header">Number</th><td>6547</td>
			  <th class="mobile-header">Market rate</th><td>€782.00</td>
			  <th class="mobile-header">Weight</th><td>12%</td>
			  <th class="mobile-header">Value</th><td>€614,370.48</td>
			  <th class="mobile-header">Value</th><td>€614,370.48</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			 <tr>
			  <td>PlayCo Group Universal Low</td>
			  <th class="mobile-header">Number</th><td>1476</td>
			  <th class="mobile-header">Market rate</th><td>€187.00</td>
			  <th class="mobile-header">Weight</th><td>10%</td>
			  <th class="mobile-header">Value</th><td>€27,601.20</td>
			  <th class="mobile-header">Value</th><td>€27,601.20</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>PlayCo Group Universal High</td>
			  <th class="mobile-header">Number</th><td>1471</td>
			  <th class="mobile-header">Market rate</th><td>€148.00</td>
			  <th class="mobile-header">Weight</th><td>18%</td>
			  <th class="mobile-header">Value</th><td>€39,187.44</td>
			  <th class="mobile-header">Value</th><td>€39,187.44</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			 <tr>
			  <td>Sterck Inc. Low</td>
			  <th class="mobile-header">Number</th><td>1978</td>
			  <th class="mobile-header">Market rate</th><td>€68.23</td>
			  <th class="mobile-header">Weight</th><td>11%</td>
			  <th class="mobile-header">Value</th><td>€14,845.48</td>
			  <th class="mobile-header">Value</th><td>€14,845.48</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>Sterck Inc. Universal High</td>
			  <th class="mobile-header">Number</th><td>6512</td>
			  <th class="mobile-header">Market rate</th><td>€642.02</td>
			  <th class="mobile-header">Weight</th><td>5%</td>
			  <th class="mobile-header">Value</th><td>€209,041.71</td>
			  <th class="mobile-header">Value</th><td>€209,041.71</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			 <tr>
			  <td>Sterck Inc. Flex</td>
			  <th class="mobile-header">Number</th><td>5423</td>
			  <th class="mobile-header">Market rate</th><td>€78.96</td>
			  <th class="mobile-header">Weight</th><td>7%</td>
			  <th class="mobile-header">Value</th><td>€29,974.01</td>
			  <th class="mobile-header">Value</th><td>€29,974.01</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr>
			<tr>
			  <td>PlayCo Group Universal Med</td>
			  <th class="mobile-header">Number</th><td>7812</td>
			  <th class="mobile-header">Market rate</th><td>€54.86</td>
			  <th class="mobile-header">Weight</th><td>8%</td>
			  <th class="mobile-header">Value</th><td>€34,285.31</td>
			  <th class="mobile-header">Value</th><td>€34,285.31</td>
			  <th class="mobile-header">Value</th><td>€4,676.02</td>
			</tr> -->
			<!-- <tr class='total'>
			  <th>Total</th>
			  <td class="total-val" colspan="4">€1,134,860.04</td>
			</tr> -->
        </tbody>
    </table>
</div>







<!-- start features -->
<!-- <section class="features text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title wow bounceIn">
                    <h2>Features</h2>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
                    <i class="fa fa-mobile"></i>
                    <h4 class="text-uppercase">Fully Responsive</h4>
                    <p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
                    <i class="fa fa-cogs"></i>
                    <h4 class="text-uppercase">Bootstrap 3.3.4</h4>
                    <p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
                    <i class="fa fa-font"></i>
                    <h4 class="text-uppercase">Google Fonts</h4>
                    <p>Lorem ipsum dolor sit consectetur ang elit doloribus magni incidunt fugit assumenda atque.</p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
                    <i class="fa fa-html5"></i>
                    <h4 class="text-uppercase">HTML5 &AMP; CSS3</h4>
                    <p>Feel free to use this template for your website. Tell your friends about templatemo.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end features -->

<!-- start team -->
<!-- <section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title wow bounceIn">
                    <h2>We Are Growing</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
                <div class="media">
                    <div class="pull-left media-object">
                        <img src="images/team_img_1.jpg" class="img-circle img-responsive" alt="team img">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading text-uppercase">Tracy</h4>
                        <h5>Designer</h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
                <div class="media">
                    <div class="pull-left media-object">
                        <img src="images/team_img_2.jpg" class="img-circle img-responsive" alt="team img">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading text-uppercase">Mary</h4>
                        <h5>Developer</h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 border_right wow fadeIn" data-wow-delay="0.6s">
                <div class="media">
                    <div class="pull-left media-object">
                        <img src="images/team_img_3.jpg" class="img-circle img-responsive" alt="team img">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading text-uppercase">Julia</h4>
                        <h5>Director</h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="media">
                    <div class="pull-left media-object">
                        <img src="images/team_img_4.jpg" class="img-circle img-responsive" alt="team img">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading text-uppercase">Linda</h4>
                        <h5>Manager</h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end team -->

<!-- start contact -->
<!-- <section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title wow bounceIn">
                    <h2>Stay Connected</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="contact-form">
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Name">
                        <input type="email" class="form-control" placeholder="Email">
                        <input type="text" class="form-control" placeholder="Subject">
                        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                        <input type="submit" class="form-control" value="SEND MESSAGE">
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
                <address>
                    <p><i class="fa fa-envelope-o"></i> hello@company.com</p>
                    <p><i class="fa fa-phone"></i> 010-020-0340, 090-080-0760</p>								
                    <p><i class="fa fa-map-marker"></i> 220 Another Roadside, Birdeye View, GO 54321</p>
                </address>
            </div>
        </div>
    </div>
</section> -->
<!-- end contact -->
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="templatemo-copyright">Copyright © 2084 Your Company Name</p>
                <ul class="social_icon">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>						
        </div>
    </div>
</footer> -->



style="margin-top: 4%;width:65%;text-align: left"

style="margin-top: 4%;width:30%;margin-left: 2%;"








onst date = moment().tz(moment.tz.guess()).hour(hours).minute(minutes)
				const now = moment().tz(moment.tz.guess())
				var duration = now.duration(now.diff(date))
				var hours = duration.asHours();
				console.log(hours,"HOURSSS")