<!DOCTYPE html>
<html lang="en">
  <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%GoogleAnalyticsId%>>"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '<%GoogleAnalyticsId%>');
		</script>
		<script data-ad-client="<%AdId%>" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		
		<title>Muslim Prayer Times </title>
		<meta name="robots" content="All">
		<meta name="keywords" content="Prayer Times,Prayer,salah,namaz,salah,salat,salaat,suhur,suhoor,fajr,sunrise,zohar,zuhr,zuhar,dhuhr,dhur,asr,asar,magrib,maghrib,iftar,iftari,isha,prayer,times,ramadan,ramadaan,fasting,egyptian general authority of survey,university of islamic sciences,umm al qura,islamic society of north america,hanafi,shafi,calculation,times,timing,Islamic University,Get Islamic prayer times at your current location">
		<meta name="description" content=" Prayer times website allowing access to prayer and ramadan times for all major cities in Europe, Asia, North America, South America, Africa & Australia.">
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="contact@timeforsalah.com">
		<link rel="icon" type="image/png" loading="lazy" sizes="32x32" href="https://www.salahtimes.com/favicon-32x32.png?v=54965">
		<link rel="icon" type="image/png" loading="lazy" sizes="16x16" href="https://www.salahtimes.com/favicon-16x16.png?v=54965">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">



		<meta name="twitter:creator" content="@salahTimes">
		<meta name="twitter:site" content="@salahTimes">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:description" content="Mobile friendly prayer times for Hyderabad (Andhra Pradesh, India). View or download Fajr, Dhuhr, Asr, Maghrib and Isha prayer times on the go in either daily, weekly, monthly or yearly calendar formats.">
		<meta name="twitter:title" content="Prayer Times For Hyderabad (Andhra Pradesh, India)">
		<meta name="twitter:image" loading="lazy"  content="images/namazpic-min.png">
		<meta name="twitter:image:alt" content="">

    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
		
		

    
    
    <link rel="stylesheet" href="css/MAINPAGE.css">
  </head>
  <body> 
			<img src="images/namazpic-min.png" loading="lazy" alt="Salah Times" style="display:none">
		
  <div class="main-section">

		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
				<a class="navbar-brand" href="https://www.timeforsalah.com/" style="font-size:1em;" >time for salah</a>
				
				<button style="text-align: center;" class="navbar-toggler" type="button" onclick="window.location.href = 'https://www.timeforsalah.com/allcountries'">
					
						<p style="font-size:1em;margin:0.6%;" > <span style="font-size:1em;" class="oi oi-flag"></span> All Countries </p>
			
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	
	          <li class="nav-item" style="font-size:2em;"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-ios-flag mr-2" ></i> All Countries </a></li>
	          <li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-facebook"></i></a></li>
	          <li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-twitter"></i></a></li>
						<li class="nav-item"><a href="#" class="nav-link icon d-flex align-items-center"><i class="ion-logo-instagram"></i></a></li>
					

  	<section class="hero-wrap js-fullheight">
  		<div class="container">
  			<div class="row description js-fullheight align-items-center justify-content-center">
  				<div class="col-md-8 text-center">
  					<div class="text">
  						<h1 style="margin-bottom:20%">Salah Times</h1>
  						<h4 class="mb-5">Prayer timings for more than <span id = "numberOfCities" style="font-size:2em;" > <strong> 114,440  </strong> </span> cities in one place.......</h4>
							<p ><a href="https://www.timeforsalah.com/day" class="btn btn-white px-4 py-3" style="font-size:1.2em;width:80%;height:0.6%"><i class="ion-ios-time mr-2"></i>Find Timings now</a></p>
							
							<script>
							const span = document.getElementById("numberOfCities")
							let counte = 0
							setTimeout(() => {
							const interval = setInterval(() => {
										span.innerText = counte
										counte = counte + 180
										if(counte > 114440){
											span.innerText = "114,440"
											clearInterval(interval)
											}

							},0.3) },1)
							</script>


  					</div>
  				</div>
  			</div>
  		</div>
		</section>

		
		

		<div class="containerthis" style=" width:70%;border:1px solid black;margin-left: 15%">
		<input type="text" placeholder="Search Countries" id="filter_users" style="border:1px solid black;"/>

		<ul id="users-list">
		
		</ul>
	</div>

		<style>
		.containerthis{margin-top:5%;margin-left:5%;margin-right:5%;height:500px;margin-bottom:16%;overflow-y:auto}#filter_users{width:100%;padding:10px}#users-list{margin:0;padding:0}#users-list li{list-style:none;padding:10px;color:#000;font-weight:500;margin:5px 0;border:1px solid #e4e4e4}
		</style>

		<script>
		var users = [
  
	<% allcountries.forEach(r => {%>
	       " <%= r %> ",
	<% }) %>
	
  'Zimbabwe'
];

ul = document.getElementById("users-list");

var render_lists = function(lists){
	var li = "";
	//let count = 0
  for(index in lists){
		li +=`<a href = "https://www.timeforsalah.com/city?name=${lists[index]}">` + "<li>" +  lists[index] + "</li>"  + "<a/>";
		//count++
		//if(count>20){break}
  }
  ul.innerHTML = li;
}

render_lists(users);

// lets filters it
input = document.getElementById('filter_users');

var filterUsers = function(event){
  keyword = input.value.toLowerCase();
  filtered_users = users.filter(function(user){
        user = user.toLowerCase();
       return user.indexOf(keyword) > -1; 
  });
  
  render_lists(filtered_users);
}

input.addEventListener('keyup', filterUsers);


		</script>



  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
	<script src="js/aos.js"></script>

  
	<script src="js/main.js"></script>
	


			<!-- <div  style="margin-left: 10%;margin-right: 10%;margin-bottom: 5%;" class="islamictext">

					<p>Muslims across the globe offer Salah five times a day. The salah times vary from region to region depending on the movement of the sun and changes considerably across seasons. Part of the wisdom of the daily prayer times is that the hearts of the believers are warmed, day and night, with the remembrance of Allah (SWT) which in turn help the believers keep away from sin.</p>
					<h2>Daily prayers</h2>
					<p>The five daily prayers were bestowed on Prophet Muhammad (PBUH) by Allah (SWT), during Al Isra’ wal Miraj—Prophet’s ascension to the heavens. Salah is the first pillar of Islam and is enjoined on every mentally and physically abled Muslim at a prescribed time, as Allah (SWT) says in the Holy Quran: “Verily, the prayer is enjoined on the believers at fixed hours.” [Al- Quran 4:103] Just as Allah (SWT) has prescribed a specified time to offer each fard (compulsory) prayer, He has also specified times when Salat should not be observed.</p>
					<p>Prophet Muhammad (PBUH) provided a clear outline of the prayer times in the following hadith: “The time for Zuhr is from when the sun has passed its zenith and a man’s shadow is equal in length to his height, until the time for ‘Asr comes. The time for ‘Asr lasts until the sun turns yellow. The time for Maghrib lasts until the twilight has faded. The time for ‘Isha’ lasts until midnight. The time for Subh (Fajr) prayer lasts from the beginning of the pre-dawn so long as the sun has not yet started to rise. When the sun starts to rise then stop praying, for it rises between the two horns of the Shaytaan.” [Muslim] The salah times of the fard prayers can be further detailed as follows:</p>
					<h3>Salah Fajr</h3>
					<p>Fajr Salah Time- the first prayer of the day which should be observed before sunrise</p>
					<p>The Fajr prayer consists of two rak’at with two sunnah rak’at to be observed before the fard prayer. The Prophet (PBUH) never missed an opportunity to offer the two sunnah rak’at before the Fajr prayer; he said: “The two Sunnah cycles of prayer preceding Fajr prayer are better than this world and all that it contains.” [Tirmidhi]</p>
					<p>The Fajr salat time begins at pre-dawn and ends at sunrise. No prayers should be observed from sunrise to when the sun has risen to the height of a spear above the horizon (i.e. no prayer should be offered roughly 20 minutes after sunrise).</p>
					<h3>Salah Dhuhr</h3>
					<p>Dhuhr Salah time- the second prayer of the day which should be observed from noon to late afternoon</p>
					<p>The Dhuhr prayer consists of four rak’at with four sunnah rak’at before and two sunnah rak’at after the fard prayer. Prophet Muhammad (PBUH) stated: “This is an hour at which the gates of heaven are opened, and I like that my good deeds should rise to heaven at that time.” [Tirmidhi]</p>
					<p>The Zuhar salat time begins when the sun has passed the zenith and ends when the sun turns yellow (or when the shadow of an object placed outside is the same length as the object itself). The Prophet (PBUH) stated that prayers should not be observed from the time when the sun is overhead until it has passed the zenith. Ibn ‘Abbaas said: “There are three times at which the Messenger of Allah (PBUH) forbade us to pray or to bury our dead: when the sun has clearly started to rise until it is fully risen, when it is directly overhead at midday until it has passed its zenith, and when the sun starts to set until it has fully set.” [Bukhari &amp; Muslim]</p>
					<h3>Salah Asr</h3>
					<p>Asr Salah Time- the third prayer of the day which should be observed from late afternoon to sunset</p>
					<p>The Asr prayer comprises of four rak’at with no sunnah rak’at. The Prophet (PBUH) stressed on the significance of the Asr prayer in the following hadith: “He who performs salat (prayers) before the rising of the sun and before its setting, will not enter the Hell.” [Muslim]</p>
					<p>The Asr salat time begins when the sun turns yellow (or when the shadow of an object placed outside is the same length as the object itself) and ends when the sun begins to set. Prayers should not be observed from the end of Asr salah until the sun has completely set (i.e. prayers should not be offered roughly 20 minutes before the Maghrib prayer).</p>
					<h3>Salah Maghrib</h3>
					<p>Maghrib Salah Time- the fourth prayer of the day which can be observed from sunset until complete darkness</p>
					<p>This salat consists of three rak’at with two sunnah rak’at that can be offered following the fard prayer. The Maghrib prayer time commences from sunset and ends when the red, yellow twilight has faded from the sky and complete darkness has emerged.</p>
					<h3>Salah Isha</h3>
					<p>Isha Salah Time- the final prayer of the day which can be observed after Maghrib salah till midnight or fajr prayer</p>
					<p>The Isha salat consists of four rak’at with two sunnah rak’at that can be offered following the fard prayer. Prophet Muhammad (PBUH) said: “The most difficult salah for the munafiqeen is Isha and Fajr. Had they known the rewards for them they would have attended them even if they had to crawl on their knees.”[Bukhari]</p>
					<p>Isha salat begins when complete darkness has emerged and can last till midnight or till the Fajr salah as Prophet Muhammad (PBUH) stated: “If it were not to be a hardship on the Ummah (followers), I would have ordered them to delay the Isha salah until a third or half of the night had passed.” [Tirmidhi]</p>
					<h2>Intention</h2>
					<p>Salah offered with the correct intention brings a believer closer to his Lord and removes him from harmful and sinful deviations. The daily prayers should be observed at its prescribed time; but if a prayer is missed due to forgetfulness or sleep, then he should immediately make up for it, as the Prophet (PBUH) said: “There is no negligence in sleeping, but the negligence lies in not praying a prayer until the time of the next prayer has come. And whosoever does so should pray as soon as he becomes aware of the negligence.” [Muslim] Salah is an invaluable gift that was bestowed on Prophet Muhammad (PBUH) by Allah Himself; therefore all Muslims should strive to offer salah at its proper time and in the best manner possible.</p>
			</div>
			<style>
				.islamictext h2
			{

				font-size:3em;
				font-weight: 400;
				color:#ff0000;	

			}
			.islamictext p
			{

				font-size: 1.5em;

			}
			</style> -->
  </body>
</html>